html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
}

h1 {
    margin: 0;
    padding: 0;

    font-weight: 300;
    font-size: 32px;
}

header {
    display: flex;
    column-gap: 6px;
    align-items: center;
    justify-content: center;
    
    padding-bottom: 16px;
    padding-right: 12px;
}

header #logo {
    width: 130px;
    height: auto;
}



input, select {
    user-select: all !important;
    width: 30%;
    
    padding: 0;
    margin: 0;
    border: none;
    outline: none;

    color: #0f71a9;
    border-bottom: 1px solid rgb(11 53 76 / 8%);
    border-radius: 4px;
    padding: 8px 6px;

    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    text-align: right;

    height: 100%;
}

input.wide-input,
select.wide-input { width: 50%; }

input[type="checkbox"] { width: 18px; height: 18px; }

span { font-size: 14px; }

img, svg { width: 22px; height: 22px; }

.align {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 6px;
}
.fill { flex-grow: 100; }
.center { justify-content: center; }
.vertical { flex-direction: row; }

.input-row {
    margin-top: 6px;
    margin-bottom: 6px;
    height: 38px;
}


.grid-parent {
    user-select: none;

    position: relative;
    width: calc(100% + 24px);
    left: -12px;

    margin-bottom: 8px;
    background-color: #f9f9f9;
    padding: 14px;
    box-sizing: border-box;
    padding-bottom: 2em;
    border-bottom: 2px #3397f0 solid;
}

.grid-parent .grid-container {
    display: flex;
    justify-content: center;

    position: relative;
    margin-bottom: 0.5em;
    width: 100%;
}

.grid-parent .grid-container .table {
    display: block;
    position: relative;
    border-collapse: collapse;
}

.grid-parent .grid-container .table .row { display: flex; }
.grid-parent .grid-container .table .cell.__hover {
    background-color: #737c85;
}
.grid-parent .grid-container .table .cell {
    position: absolute;
    background-color: #8c959d;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: move;
}

.grid-container .display-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.grid-container .merge-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: 100%;
    pointer-events: none;
}



.layer-name-container { margin-top: 1em; }
.layer-name-container:hover #layer-name { text-decoration: underline; }
.grid-layer-info {
    z-index: 99;
    background-color: #3397f0;
    color: white;
    padding: 0.5em 1em;
    border-radius: 20em;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: -2em;

    display: flex;
    align-items: center;
}

.grid-layer-info #up-arrow svg,
.grid-layer-info #up-arrow img { width: 1em; height: fit-content; }
.grid-layer-info #up-arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;

    display: flex;
}

.grid-layer-info select {
    font-size: 1em;
	width: fit-content;
	background-color: rgba(255, 255, 255, 0.3);
	color: white;
	border-radius: 100em;
	padding: 0.35em 0.5em;
	padding-right: 1em;
    text-align: left;
    margin-right: 0.35em;
}




.body-container {
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 72px;
}
.body-content {
    padding: 0 12px;
    padding-bottom: 22px;
    overflow-y: scroll;
}

.button-container-bottom {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 64px;
    padding: 6px;
    box-sizing: border-box;
    background-color: white;
}

.button-container-hover {
    padding: 6px;
    height: 64px;
    box-sizing: border-box;
}

.button-container {
    box-sizing: border-box;
    
    width: 100%;
    height: 100%;

    display: flex;
    border-radius: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.button {
    cursor: pointer;
    justify-content: center;
    flex-grow: 50;
    transition: flex-grow 0.2s ease-out;
    background-color: black;
    color: white;

    font-size: 1em;
    font-weight: bold;
}

.colour {
    background-color: #3496F0;
    color: white;
}

.faded {
    background-color: #F9F9F9;
}

.app-help-container svg {
    margin-left: auto;
    margin-right: auto;
    display: block;

    height: 24px;
    width: 24px;
    opacity: 0.8;
}

#app-description {
    text-align: center;
    font-size: 12px;
    line-height: 1.8;
    opacity: 0.45;
    margin-top: 22px;
}

.border {
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.04);
    margin-top: 22px;
    margin-bottom: 22px;
}

#clear-merge { min-width: fit-content; }

#clear-merge:hover { text-decoration: underline; }

#help-icon {
    display: block;
    width: 22px;
    height: 22px;
    background-color: orange;
    margin: 0 auto;
}

.help-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin-top: 38px; */
    column-gap: 8px;
    cursor: help;
    color: #0f71a9;
}

.help-button:hover {
    text-decoration: underline;
}

.help-items svg {
    width: 100%;
    height: 200px;
}
.help-items p {
    margin: 0;
    margin-top: 8px;
    display: block;
    line-height: 1.5;
    font-size: 14px;
}


#select-saved select {
    padding: 0;
    border: none;
    appearance: auto;
    background-color: transparent;
    color: #093a58;

    font-size: 14px;
    font-weight: 500;

    opacity: 0.5;
    font-family: inherit;

    text-align: right;
    width: 90px;
}





.input-overlay.opening {
    visibility: visible;
    animation-name: overlay-opening;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    opacity: 1;
}

.input-overlay.closing {
    visibility: visible;
    animation-name: overlay-closing;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}

@keyframes overlay-opening {
    from {
        padding-top: 440px;
        opacity: 0;
    } to {
        padding: 0;
        opacity: 1;
    }
}

@keyframes overlay-closing {
    from {
        padding-top: 0px;
        opacity: 1;
    } to {
        padding-top: 440px;
        opacity: 0;
    }
}

.layout-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fffffff2;
    z-index: 999;
    padding-top: 4em;
}

.layout-overlay h2 {
    margin-bottom: 0;
}
.layout-overlay p {
    font-size: 0.85em;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 2em;
}

.layout-overlay ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.layout-overlay li:not(:last-child) { border-bottom: 1px solid rgb(221 221 221); }
.layout-overlay li:first-child { border-top-left-radius: 0.75em; border-top-right-radius: 0.75em; }
.layout-overlay li:last-child { border-bottom-left-radius: 0.75em; border-bottom-right-radius: 0.75em; }
.layout-overlay li {
    align-items: center;
    display: flex;
    padding: 1em;
    background-color: #efefef;
}
.layout-overlay li span { margin-left: 0.85em; }

.layout-overlay li #delete-button { display: none; cursor: pointer; }
.layout-overlay li:hover #delete-button { display: inline-block; }

.layout-overlay .confirm-button-container {
    display: flex;
    justify-content: center;
}
.layout-overlay .confirm-button {
    padding: 0.75em 1.5em;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 500px;

    margin-top: 2em;
    color: black;
    cursor: pointer;
}